* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,
body {
height: 100%;
width: 100%,
}
main{
      height: 100%;
      width: 100%;
}
header{
      text-align: center;
      padding: 1rem;
}
header h2{
      font-size: 1.8rem;
      font-family:Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-variant: small-caps;
      letter-spacing: 1.1px;
      color: dodgerblue;

}
.hero{
      height: 90%;
      color: #ebe6e6;
      background: url(https://images.unsplash.com/photo-1520523839897-bd0b52f945a0?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGlhbm98ZW58MHx8MHx8fDA%3D);
      background-size: cover;
      background-position: center;
      opacity: 85%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}
.hero h1{
      font-size: 1.8rem;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: 500;
      padding: 1rem;
      color:#160612e1;
}
.hero .piano-keys{
      height: 90%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
}
.keys{
      font-size: 1.5rem;
      color: black;
      height: 9rem;
      width: 2.8rem;
      background-color: white;
      border: 1px solid black;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      user-select: none;
}
.keys.active {
    background-color: #333; /* Darker color when pressed */
    color: white;
    transform: scale(0.9); /* Shrink slightly */
}
